.about-box {
    min-height: 950px;
    background-image: url('../assets/images/about_bg.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment:fixed;
    // background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    transition: all,.3s;
}