.home-box{
    height: auto;
    min-height: 950px;
    background-image: url('../assets/images/bg_01.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-attachment:fixed;
    // background-attachment: scroll;
    background-size: cover;
    opacity: 1;
    transition: all,.3s;
    .el-divider{
      position: absolute;
      top: 69px;
      background: #d1d6d96e;
      margin: 0;
    }
    .home{
      width:80%;
      margin: 0 auto;
    }
    
    
    
    .w-banner-content{
        height: 410px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 300px;
        z-index: 2;
        opacity: 1;
        .smartAbs{
          width: 279px;
          height: 135px;
          color: #fff;
          border: 5px solid #ff5c35;
          background-color: transparent;
          position: relative;
          .smAreaC{
            width: 10px;
            height: 10px;
            position: absolute;
            bottom: 10px;
            left: 140px;
            background-color:#ff5c35;
          }
          .editableContent_01{
            width: max-content;
            font-size: 22px;
            font-family: Trebuchet MS,Helvetica,sans-serif;
            margin: 93px 0 0 183px
          }
          .editableContent_02{
            width: 456px;
            font-family:Microsoft JhengHei;
            font-size:54px;
            margin: 28px 0 0 160px;
          }
          .editableContent_03{
            color:#cccccc;
            letter-spacing:7px;
            width: max-content;
            margin: 30px 0 0 165px;
          }
          .editableContent_04{
            width: 456px;
            font-size: 24px;
            font-family:Microsoft JhengHei;
            margin: 28px 0 0 98px;
          }
        }
    }
    .content_desc{
      padding: 100px 0;
      margin-top:200px;
      background-color: #fff;
      .desc_top{
        font-family:Source Han Sans;
        text-align: left;
        font-weight: 500;
        letter-spacing:7px;
        position: relative;
      }
      .desc_con{
        color:#333333;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        font-family:Verdana,Geneva,sans-serif;
        .desc_con_item{
          width: 350px;
          height: 255px;
          display: flex;
          &:nth-child(1){
            background-image: url("../assets/images/con_01.png");
          }
          &:nth-child(2){
            background-image: url("../assets/images/con_02.png");
          }
          &:nth-child(3){
            background-image: url("../assets/images/con_03.png");
          }
          background-size: 192px 194px;
          background-repeat: no-repeat;
          background-position: 70% 0;
          .con_item_left{
            text-align: left;
            width: 249px;
            margin-top: 66px;
            .con_item_left_font{
              color:#666666;
              line-height:1.75;
              word-wrap:break-word;
              font-weight: 300;
              font-family:Source Han Sans,Geneva,sans-serif;
            } 
          }
          .con_item_right {
            // position: relative;
            img{
              // position: absolute;
              // right: 20px;
              width: 192px;
              height: 194px;
            }
           
          }
        }
      }
    }
    .smBox{
      position: absolute;
      bottom: 13px;
      left: 365px;
    }
    .banner_box{
      // min-height: 600px;
      padding: 50px 0;
      background-color: rgb(247, 247, 250);
      .banner_con{
        width: 80%;
        margin: 0 auto;
        .banner_left{
          text-align: left;
          .banner_left_top{
            position: relative;
            p{
              letter-spacing: 4px;
              z-index: 1;
              font-weight: 500;
            }
            div{
              color: rgb(51, 51, 51);
              font-weight: 600;
              font-size: 54px;
              letter-spacing: 4px;
            }
          }
          .desc{
            color: rgb(102, 102, 102);
            line-height: 2;
            font-weight: 400;
          }
        }
        img{
          width: 603px;
          height: 171px;
        }
      }
      /deep/ .el-carousel__container{
        height: 370px;
      }
      // /deep/ .el-carousel__indicators--horizontal{
      //   bottom: -50px !important;
      // }
      /deep/ .el-carousel__button{
        background-color: #ff5c35;
      }
    }
    .information{
      padding: 108px 0;
      background-color: #fff;
      .info_con{
        width: 80%;
        margin: 0 auto;
        .info_top{
          text-align: left;
          position: relative;
          div{
            font-weight: 500;
          }
        }
        .info_bottom{
          .info_bottom_left{
            width: 590px;
            height: 392px;
            position: relative;
            background-image: url('../assets/images/info_bg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
           
            .el-row{
              width: 590px;
              height: 387px;
              color: #fff;
              background-image: url('../assets/images/info_bg_02.png');
              background-repeat: no-repeat;
              background-size: cover;
              div{
                position: absolute;
                top: 260px;
                left: 20px;
                text-align: left;
                margin-right: 10px;
                h5{
                  font-weight: bold;
                }
                p{
                  line-height: 1.75;
                  color: #f4d4cc;
                  word-wrap: break-word
                }
                span{
                  font-size: 12px;
                  float: right;
                  margin-right: 16px;
                  cursor: pointer;
                }
              }
            }
          }
          .info_bottom_right{
            width: 567px;
            text-align: left;
            div{
              border-bottom: 1px solid #f3f3f3;
            }
            p{
              max-height: 48px;
              line-height: 2;
              font-family: 'Noto Sans CJK';
              font-size: 13px;
              color:#999;
              overflow:hidden;
              text-overflow:ellipsis;
              display:-webkit-box;
              -webkit-line-clamp:2;
              -webkit-box-orient:vertical;
            }
          }
        }
       
      }
    }
    .contact-box{
      height: 513px;
      background-color: #fff;
      .contact-sub-box{
        width: 959px;
        height: 100%;
        background-color: rgb(247, 247, 250);
        .el-row {
          padding-top: 160px;
          position: relative;
          margin-left: 100px !important;
          button{
            color: #fff;
            border: 1px solid #ff5c35;
            background-color: #ff5c35;
          }
        }
        .grid-content_01{
            color: #666;
            text-align: left;
            li{
              line-height: 2;
            }
        }
        .grid-content_02{
          width: 450px;
          text-align: left;
          position: absolute;
          left: 491px;
          div{
            font-size: 54px;
            color: #333333;
            line-height:1.2;
            font-weight: bold;
          }
          p:last-child {
            color:#888888;
            font-size: 18px;
          }
          
          .smBox{
            top: 100px;
            left: 284px;
          }
        }
      }
    }
  }